@model List<Catagory>

<partial name="_Notification" />

<div class="container">
    <div class="row pt-4 pb-2">
        <div class="col-6">
            <h1 class="text-primary">Catagory List</h1>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Catagory" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle-fill"></i> 
                Create Catagory</a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>
            Catagory Name
        </th>
        <th>
            Display Order
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {

        <tr>
            <td>
                @obj.Name
            </td>
            <td>
                @obj.DisplayOrder
                    
            </td>
            <td>
                <div class="w-75 btn-group" role="group">
                        <a asp-controller="Catagory" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i></a>
                        <a asp-controller="Catagory" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2"><i class="bi bi-trash"></i></a>
                </div>
            </td>    
        </tr>
        }
    </tbody>
</table>